/* game board table */


#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  display: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#button {
  position: relative;
  margin-left: 120px;
  width: 100px;
  height: 50px;
  font-size: 20px; 
  background-color: #e5ba39;
  border: 8px solid gold;
  color: #f4f4f4;
  font-weight: bold;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;

}
